%article
  %section
    = image_tag 'mezzoeii.png', {id: 'mlogo'}
    #intro.rounded.shadow

      #survey
        .question{id: @init.first}
          = @init.last
        = submit_tag t('nono'), {class: 'btn'}
        = submit_tag t('yesyes'), {class: 'btn'}

